.wordImg{
    height: 200px;
}

.true {
    background-color: green;
}

.false {
    background-color: red;
}
.btn-option{
    background-color: burlywood;
    color: brown;
    border: none;
    border-radius: 10px;
    width: 6em;
    height: 2em;
}
.btn-option:hover{
    background-color: cadetblue;
}

button:empty {
    display: none;
}