

button:empty {
    display: none;
}


.app-body{
    padding: 2em;
    background-image: url("./img/bridge-5356471_1920.jpg");
  background-size: cover;
  height: 95vh;
    
}

.info-screen {
    color: whitesmoke;
    font-size: 4em;
}
.info-screen button {
    background-color:#44c767;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.info-screen button:hover{
    background-color:#5cbf2a;
}
.game-screen{
    background-color: #f4f1de;
    opacity: 0.8;
    height: 60vh;
    width: 60vw;
    border-radius: 10px;
    margin: 0 auto;
}

.wordImg{
    height: 200px;
    margin: 2em;
    border-radius: 5px;
}

.btn-option{
    background-color: #283d3b;
    color: whitesmoke;
    border: none;
    border-radius: 10px;
    width: 6em;
    height: 2em;
}
.btn-option:hover{
    background-color: cadetblue;
}
.btn-option:active{
    background-color: crimson;
}
.nextBtn {
    background-color: #283d3b;
    color: whitesmoke;
    border: none;
    border-radius: 10px;
    padding: 1em;
}
.nextBtn:hover {
    background-color: cadetblue;
}
.nextBtn:active{
    background-color: crimson;
}
.answer-reaction{
    color:#b7094c;
    font-size: 1em;
    font-weight: bolder;
    animation: animate 1s; 
}
@keyframes animate { 
    0% { 
        font-size: 0.3em;
        color: #0091ad 
    } 
    30% { 
        font-size: 0.6em;
        color: #2e6f95 
    } 
    60% { 
        font-size: 0.8em;
        color: #892b64
    }
    100% { 
        font-size: 1em;
        color: #b7094c
    }

}