.wordImg{
    height: 200px;
    margin: 2em;
    border-radius: 5px;
}

.true {
    background-color: green;
}

.false {
    background-color: red;
}
.btn-option{
    background-color: burlywood;
    color: brown;
    border: none;
    border-radius: 10px;
    width: 6em;
    height: 2em;
}
.btn-option:hover{
    background-color: cadetblue;
}
.btn-option:active{
    background-color: crimson;
    color: whitesmoke;
}

button:empty {
    display: none;
}


.app-body{
    background-color: cornflowerblue;
    padding: 2em;
}

.game-body {
    background-color: thistle;
}